<!-- Label to display any error messages -->
<!--label class="error-message">{{ errMessage }}</label-->

<!-- Expansion panel to add new notes -->

<!-- Expansion panel to add new notes -->
<!--div class="keep-comp-note-taker-panel">
    <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
    Take a note
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="keep-comp-note-taker-wrapper">
    <mat-form-field>
    <input [(ngModel)] = "note.title" matInput placeholder="title" type="text"  name="title" required>
    </mat-form-field>
    <mat-form-field>
    <textarea [(ngModel)] = "note.text" matInput placeholder="text" name="text" required ></textarea>
    </mat-form-field>
   
    <div class="keep-comp-button">
        <button mat-button (click)="takeNotes()">Done</button>
    </div>
  </div>
    </mat-expansion-panel>
   </div-->

<!-- Mandatory code for error displaying to prevent failing testcases  -->
<label class="error-message"><span *ngIf="errMessage">{{ errMessage }}</span></label>

<!-- Expansion panel to add new notes -->
<div class="notes-container">
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Take a note
        </mat-panel-title>
      </mat-expansion-panel-header>
    
      <mat-form-field class="note-title">
        <input matInput placeholder="Title" name='title' [(ngModel)]='note.title'/>
      </mat-form-field>
      <mat-form-field class="note-text">
        <textarea matInput placeholder='Text' name='text' [(ngModel)]='note.text' matAutosizeMinRows="3"></textarea>
      </mat-form-field>
      <div class='takenotes-btn'>
        <button mat-raised-button (click) = 'takeNotes()'>Done</button>
      </div>      
    </mat-expansion-panel>
    <mat-error *ngIf="errorMessage"><label class="error-message">{{errorMessage}}</label></mat-error>
</div>